/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	ti,non-removable;
	status = "okay";
};

&am33xx_pinmux {
	nxp_hdmi_bonelt_pins: nxp_hdmi_bonelt_pins {
		pinctrl-single,pins = <
			0x1b0 0x03      /* xdma_event_intr0, OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
			0xa0 0x08       /* lcd_data0.lcd_data0, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xa4 0x08       /* lcd_data1.lcd_data1, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xa8 0x08       /* lcd_data2.lcd_data2, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xac 0x08       /* lcd_data3.lcd_data3, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xb0 0x08       /* lcd_data4.lcd_data4, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xb4 0x08       /* lcd_data5.lcd_data5, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xb8 0x08       /* lcd_data6.lcd_data6, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xbc 0x08       /* lcd_data7.lcd_data7, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xc0 0x08       /* lcd_data8.lcd_data8, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xc4 0x08       /* lcd_data9.lcd_data9, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xc8 0x08       /* lcd_data10.lcd_data10, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xcc 0x08       /* lcd_data11.lcd_data11, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xd0 0x08       /* lcd_data12.lcd_data12, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xd4 0x08       /* lcd_data13.lcd_data13, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xd8 0x08       /* lcd_data14.lcd_data14, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xdc 0x08       /* lcd_data15.lcd_data15, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xe0 0x00       /* lcd_vsync.lcd_vsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			0xe4 0x00       /* lcd_hsync.lcd_hsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			0xe8 0x00       /* lcd_pclk.lcd_pclk, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			0xec 0x00       /* lcd_ac_bias_en.lcd_ac_bias_en, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
                    /***** P8 *****/
                    0x090 0x2f  /* 7 - led b       (out,  mode 7) */
                    0x094 0x2f  /* 8 - led r       (out,  mode 7) */
                    0x09c 0x2f  /* 9 - led g       (out,  mode 7) */
                    0x098 0x2f  /* 10 - heat cntl  (out,  mode 7) */
                    0x030 0x2f  /* 12 - cool cntl  (out,  mode 7) */
                    0x028 0x2f  /* 14 - fan cntl   (out,  mode 7) */
                    0x038 0x2f  /* 16 - aux cntl   (out,  mode 7) */

                    /***** P9 *****/
                    0x04c 0x0f  /* 16 - dig therm  (in,  mode 7) */
                    0x15c 0x0f  /* 17 - up btn     (in,  mode 7) */
                    0x158 0x0f  /* 18 - down btn   (in,  mode 7) */
                    /* i2c2 scl */
                    /* i2c2 sda */
                    0x150 0x0f  /* 22 - rfm_int    (in,  mode 7) */
                    /* uart tx */
                    /* uart rx */
                    0x1a4 0x31  /* 27 - encode b   (in , mode 1, eQEP0B) */
                    /* spi.... */
                    /* adc .... */
                    0x1a8 0x0f  /* 41 - encode sw  (in,  mode 7) */
                    0x1b4 0x0f  /* not used, set in safe input state */
                    0x1a0 0x31  /* 42 - encode a   (in,  mode 1, eQEP0A) */
                    0x164 0x0f  /* not used, set in safe input state */
		>;
	};
	nxp_hdmi_bonelt_off_pins: nxp_hdmi_bonelt_off_pins {
		pinctrl-single,pins = <
			0x1b0 0x03      /* xdma_event_intr0, OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
		>;
	};
};

&i2c0 {
	hdmi1: hdmi@70 {
	      compatible = "nxp,tda998x";
	      reg = <0x70>;
	};
};

&i2c2 {
	/* temp and humidity sensor */
	si7020@40 {
	      compatible = "si7020,si7020";
	      reg = <0x40>;
	};
	/* eeprom */
	at24@57 {
	      compatible = "at24,24c256";
	      reg = <0x57>;
	};
};

&uart1 {
	/*pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;*/
	status = "okay";
};

&eqep0 {
	count_mode = <0>; /* 0 - Quadrature mode, normal 90 phase offset cha & chb. */
			  /* 1 - Direction mode. cha input = clock, chb input = direction */
	swap_inputs = <0>; /* Are channel A and channel B swapped? (0 - no, 1 - yes) */
	invert_qa = <0>; /* Should we invert the channel A input? */
	invert_qb = <0>; /* Should we invert the channel B input? */
	invert_qi = <0>; /* Should we invert the index input? */
	invert_qs = <0>; /* Should we invert the strobe input? */
	status = "okay";
};

&lcdc {
	pinctrl-names = "default", "off";
	pinctrl-0 = <&nxp_hdmi_bonelt_pins>;
	pinctrl-1 = <&nxp_hdmi_bonelt_off_pins>;
	status = "okay";
	hdmi = <&hdmi1>;
	display-timings {
		1280x720P60 {
		   clock-frequency = <74250000>;
		   hactive = <1280>;
		   vactive = <720>;
		   hfront-porch = <110>;
		   hback-porch = <220>;
		   hsync-len = <40>;
		   vback-porch = <5>;
		   vfront-porch = <20>;
		   vsync-len = <5>;
		   hsync-active = <1>;
		   vsync-active = <1>;
		};
		640x480P60 {
		   clock-frequency = <25200000>;
		   hactive = <640>;
		   vactive = <480>;
		   hfront-porch = <16>;
		   hback-porch = <48>;
		   hsync-len = <96>;
		   vback-porch = <31>;
		   vfront-porch = <11>;
		   vsync-len = <2>;
		   hsync-active = <0>;
		   vsync-active = <0>;
		};
	};
};

